.side-ber
  .side-ber__header
    .side-ber__top-items
      .side-ber__top-items__name
        master
      .side-ber__top-items__menu
        .side-ber__top-items__btn
          = link_to "#", class: "contents__btn" do
            = icon('far', 'edit')
          = link_to "#", class: "contents__btn" do
            = icon('fas', 'cog')
  .side-ber__group-list
    .side-ber__group-name
      .side-ber__group-box
        = link_to "#", class: "contents__btn" do
          = "JavaScript"
      .side-ber__group-mail
        .side-ber__group-message 
          = "こんばんは"
    .side-ber__group-name  
      .side-ber__group-box
        = link_to "#", class: "contents__btn" do
          = "Ruby on Rails"
      .side-ber__group-mail
        .side-ber__group-message 
          = "まだメッセージがありません"
        


      